body{
    background-color: #111926;
    color: #fff;
    margin: 0;
}

.center{
    max-width: 1200px;
    /* margin: 0 auto; */
    margin-left: auto;
    margin-right: auto;
}

header{
    /* margin-bottom: 50px; */
    background-color: #223040;
    padding: 20px 0;
    font-size: 20px;
}

.logo-link{
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
    font-size: 25px;
}

header div.center{
    display: flex;
    justify-content: space-between;
}

header a{
    color: #fff;
    text-decoration: none;
    height: 30px;
    line-height: 30px;
    display: inline-block;
}

header a.nav-link.active{
    color: #fff;
    text-decoration: underline;
}

a.social-link svg{
    fill:rgba(255, 255, 255, 0.6);
    height: 30px;
}

header nav{
    display: flex;
}

header nav a{
    padding: 0 10px;
    color: rgba(255, 255, 255, 0.6);
}

div.intro{
    background-color: #111926;
    display: flex;
    gap: 20px;
    justify-content: space-between;
}

div.intro img{
    width: 200px;
    margin-top: 20px;
}

div.intro p{
    margin: 0;
    align-self: center;
    font-size: 25px;
}

div.h1{
    background-color: #223040;
}

h1{
    margin: 0;
    padding-top: 70px;
    font-size: 50px;
    line-height: 40px;
}

footer{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    border-top: 1px solid #556;
    padding: 20px 0;
}

footer p{
    margin: 0;
    align-self: center;
}

footer a{
    text-decoration: none;
}

footer a.social-link{
    margin-left: 20px;
}

div.contact{
    text-align: left;
    padding-top: 45px;
    font-size: 25px;
}

#project-link{
    text-decoration: none;
    color: white;
}
#project-link:hover{
    text-decoration: underline;
}